<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Page</title>
        <!-- <link rel="stylesheet" href="../static/css/reward.css"> -->
    </head>
    <body>
        <div id="contents">
            <div id="main">
              <section id="pagetop">
                <section class="box">
                  <h2 class="title">Reward<span>景品一覧</span></h2>
                  <div>
                    <h2>交換する景品を選択してください</h2>
                    <script type="text/javascript">
						let list_data = {{ list | tojson }};
					</script> 
                    <div id="table-wrapper"></div>
                    <script type="text/javascript" src = "../static/js/disp_reward.js"></script>
                  </div>
                </section>
              </section>
            </div>
          </div>
   </body>
</html>